/* album-gallery is added via additionalClass */
.image-gallery-slide img {
  height: calc(100vh - 120px); /* 100vh minus header/title and padding */
  object-fit: contain; 
}
.image-gallery-thumbnail img {
  width: 64px;      /* fixed width */
  height: 64px;      /* fixed height */
  object-fit: cover;  /* crop to fill rectangle */
}
@media (max-width: 480px) {
  .image-gallery-slide img {
  height: calc(100vh - 300px); /* 100vh minus header/title and padding */
  object-fit: contain; 
}
}